@use 'src/assets/scss/vars'  as _vars;

// Define el mixin para los estilos de los títulos
@mixin title-styles {
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: _vars.$font-heading;
}

// Define los estilos para los títulos en pantallas móviles
h1, h2, h3, h4, h5, h6 {
  @include title-styles;
  font-size: _vars.$mobile-font-size;
}

// Agrega estilos para tabletas
@media ( min-width: _vars.$tablet) {
  h1 {
    font-size: _vars.$tablet-font-size * 2;
  }
  h2 {
    font-size: _vars.$tablet-font-size * 1.5;
  }
  h3 {
    font-size: _vars.$tablet-font-size;
  }
}

// Agrega estilos para pantallas de escritorio
@media (min-width: _vars.$desktop) {
  h1 {
    font-size: _vars.$desktop-font-size * 2.5;
  }
  h2 {
    font-size: _vars.$desktop-font-size * 2;
  }
  h3 {
    font-size: _vars.$desktop-font-size * 1.5;
  }
  h4 {
    font-size: _vars.$desktop-font-size;
  }
}


// Define la función para calcular el ancho de una columna
@function grid-column-width($columns) {
  $available-width: _vars.$container-max-width - (_vars.$grid-gutter-width * (_vars.$grid-columns - 1));
  $column-width: $available-width / _vars.$grid-columns;
  @return ($column-width * $columns) + (_vars.$grid-gutter-width * ($columns - 1));
}

// Define el mixin para crear una fila
@mixin make-row($gutter: _vars.$grid-gutter-width) {
  margin-left: ($gutter / -2);
  margin-right: ($gutter / -2);
  display: flex;
  flex-wrap: wrap;
}

// Define el mixin para crear una columna
@mixin make-column($columns, $gutter: _vars.$grid-gutter-width) {
  flex: 0 0 grid-column-width($columns);
  max-width: grid-column-width($columns);
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
}

// Crea el contenedor para la grilla
.container {
  max-width: _vars.$container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: (_vars.$grid-gutter-width / 2);
  padding-right: (_vars.$grid-gutter-width / 2);

  // Agrega un media query para ajustar el ancho del contenedor en pantallas más pequeñas
  @media (max-width:  _vars.$container-max-width) {
    max-width: 100%;
  }
}

// Crea las clases para las filas y columnas
.row {
  @include make-row();
  @media (max-width:  _vars.$container-max-width) {
    flex-direction: column;
  }
}

.col {
  @include make-column(1);
}

// Crea las clases para las columnas de diferentes anchos
@for $i from 1 through _vars.$grid-columns {
  .col-#{$i} {
    @include make-column($i);
     // Agrega un media query para ajustar el ancho de las columnas en pantallas más pequeñas
    @media (max-width: _vars.$container-max-width) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
