<h1 class="title title--primary">App is Working!</h1>

<div class="container">
  <div class="row">
    <div class="col-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga expedita
        molestias id. Ipsum placeat consequatur error eos, vero mollitia, ipsam
        neque a laudantium, fugit ab quas repellendus tempora necessitatibus
        esse.
      </p>
    </div>
    <div class="col-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore rem
        earum quaerat accusamus modi quibusdam consequatur consequuntur nostrum
        accusantium iure assumenda corrupti deserunt animi veniam vitae, eaque
        laudantium incidunt dolor.
      </p>
    </div>
    <div class="col-8">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        provident, autem beatae minus molestias dolore nemo aperiam maxime
        dolorem ratione consequatur suscipit veritatis earum ipsa error
        laudantium recusandae iste impedit?
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <br>
      Use the Standalone Component:
      <hr>
      <app-alone-button>Alone Button</app-alone-button>
    </div>
  </div>
</div>
